@import "../../node_modules/postcss-css-reset/src/styles/reset.pc.css";
@import "../fonts/fonts.css";
@import "./variables.scss";
@import "./main-page/index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

img:not([alt]) {
  border: 2px dashed red;
}

a {
  text-decoration: none;
}

